<!DOCTYPE html>
<html>
<head>
    <title>Menu</title>
</head>
<body>
    <h1>Our Menu</h1>
    <ul>
        {% for item in menu_items %}
        <li>
            <strong>{{item.name}}</strong> -${{item.price}} <br>
            <em>{{item.description}}</em>
        </li>
        {% endfor %}
    </ul>
    <!-- Footer -->
    <footer>
        <p><strong>Opening HOurs:</strong>Mon - Fri:11am -11pm</p>
        <p>&copy; 2025 RR Restaurant. All rights reserved.</p>
    </footer>
</body></html>