{% extends "home.html" %}
{% block title %} Reservations - RR Restaurant {% end block %}
{% block content %}
<div style="max-width:600px; margin: 50px auto; text-align:center; padding:20px; border:1px solid #ddd; border-radius: 10px; background:#fafafa;">
    <h1>Reservations</h1>
    <p>Online reservations are coming soon! please check back later.</p>
</div>
<!-- Footer -->
<footer>
    <p><strong><center>Opening Hours:</strong> Mon - Fri:11am - 11pm, Sat - Sun: 10am -11pm</p>
    <p>&copy;2025 RR Restaurant. All rights reseved.</center></p>
</footer>

{% endblock %}
